html *
{
   
     font-family: soleil !important;
}
.center{
    text-align: center;
    margin: 5px 0px 38px 0px;
}
.headspace {
    margin-top: 70px;
}
.chip {
    display: inline-block;
    padding: 0 8px;
    height: 32px;
    font-size: 15px;
    line-height: 28px;
    border-radius: 25px;
    border: 1px solid darkgrey;
    margin: 5px 5px 5px 5px;
  }
  span#chipClose {
    margin-left: 25px;
}
.checkboxes {
    display: -webkit-box;
    margin: 0px 0px 0px 30px;
}
.checkboxes h6 {
    margin-right: 20px;
}
.form-check-inline {    
    line-height: 0px;
}

.class_checkbox {
    width: 20px;  
    height: 20px;
    margin-right: 10px;
    background: url(../assets/ic_checkbox_disabled.svg);
}
.class_checkbox.checked {
    background: url(../assets/ic_checkbox.svg);
}

.slider_div {
    /* margin-top: 80px; */
    margin: 68px 28px 0px 35px;
}
  .slider_div .rangeSlider {
    margin-bottom: 32px;
  }

  .rangeSlider__handle.rangeSlider__handle__horizontal {
    left: -1px;
    top: -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: url(../assets/slider.svg);
}

.rangeSlider__horizontal {
    height: 6px;
    width: 90%;
    margin: 0px 0px 0px 39px;
}
.rangeSlider {
    position: relative;
    background: #EAE9EE !important;
    border: none;
}
.rangeSlider, .rangeSlider__fill {
    display: block;
    -webkit-box-shadow: none;
     box-shadow: none;
    border-radius: 10px;
}
.rangeSlider__fill.rangeSlider__fill__horizontal {
    background: #2BB031;
}
.slider_div .rangeSlider {
    margin-bottom: 32px;
    width: 90%;
    border: none !important;
    box-shadow: none !important;
}
.rangeSlider__horizontal {
    height: 6px !important;
    }

    .rangeSlider__handle:active {
        background-image: none !important;       
    }


    .rangeSlider__handle {
        border: none !important;
       cursor: pointer;
        display: inline-block;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 3;
            
        -webkit-box-shadow:none !important;
        box-shadow: none !important;
        border-radius: 50%;
    }
    .vl {
        border-left: 1px solid grey;
        height: 100px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 0;
      }
      .send_price {
        margin: 37px 0px 0px 2px;
        text-align: center;
        border-right: 1px solid lightgrey;
        height: 100%;
        padding-top: 1px;
    }
      .send_price h4 ,.send_price p,.recev_price h4,.recev_price p{
        margin-top: 8px;
        color: darkgrey;
        font-weight: bold;
}
.recev_price {  
  
    margin: 37px 0px 0px 2px;
    text-align: center; 
    height: 100%;
    padding-top: 1px;
}
.row.mycard {    
    padding-bottom: 50px;   
    background-color: #f7f9fb;
}
span#reciev_at, span#send_at {
    color: darkblue;
    font-size: x-large;
    font-weight: bold;
}
.js-acc-hidden{position:absolute !important;left:-9999px !important;top:-9999px !important;display:block !important; width: 100% !important;}

.slider_div [data-output] {
    display: block;
    width: 100%;
    text-align: center;
    color: green;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.jcf-hidden {
    -webkit-appearance: none;
    position: absolute !important;
    left: -9999px !important;
    height: 1px !important;
    width: 1px !important;
    margin: 0px !important;
    border-width: 0px !important;
}

input#phone-number {
    padding-left: 86px !important;
    width: 100%;
}

.snackbar {
    visibility: hidden;
    min-width: 200px;
    /* Center align */
    margin-left: -50px; 
    border-radius: 5px;
    position: fixed;
    z-index: 10;
    /* Snackbar position */
    top: 10%;
    right: 1%;
}

.snackbar-show {
    visibility: visible;

/* Animacion: fade in y out de 0.5s de duracion.
En el fade out hay un retraso de 2.5 segundos */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animaciones para hacer fade in y out.
Puedes usar jQuery si te sientes mas comodo
y asi eliminas  las animaciones*/
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.bg-information {
    background-color: #2bb031 !important;
    color: white;
    font-size: large;
}